{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}

<div class="panel panel-{style}">
    <f:if condition="{headline}">
        <div class="panel-heading">
            <h{titleElement} class="panel-title">
            {headline}
            </h{titleElement}>
        </div>
    </f:if>
    <div class="panel-body">
        <ts:render path="content"/>
    </div>
    <f:if condition="{footer}">
        <div class="panel-footer">
            {footer}
        </div>
    </f:if>
</div>