{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
<div class="bt3-tab">
    <ul class="nav nav-{f:if(condition:'{pillStyle}', then:'pills', else:'tabs')}">
        <f:for each="{tabItemArray}" as="item" iteration="itemIterator">
            <li class="{f:if(condition: itemIterator.isFirst, then: 'active')}">
                <a href="#{item.identifier}" data-toggle="tab">{item.properties.title}</a>
            </li>
        </f:for>
    </ul>
    {tabItems -> f:format.raw()}
</div>
